body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#solar-system {
    position: relative;
    width: 500px;
    height: 500px;
}
